*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    cursor: pointer;
}

html{
    font-size: 62.5%;
}

main{
    margin-top: 20px;
    text-align: center;
}


main .main-title{
    width: 530px;
    height: 114px;
    margin: 0 auto;
    padding-top: 46px;
}

main .main-title h1{
    font-size: xx-large;
}

main .main-title img{
    width: 190px;
}

main .main-title p{
    margin-top: 10px;
    font-size: 16px;
}

main .main-languages .languages-top{
    display: flex;
    justify-content: center;
}

.main-languages .espaniol{
    margin-right: 45px;
}

.main-languages .english{
    margin-left: 45px;
}

main .main-languages  button{
    height: 50px;
    width: 180px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-top: 22px;
}

button a{
    color: #3366CC;
    font-size: 18px;
}

main .main-languages button:hover{
    background-color: #f2f2f2;
}
button p{
    margin-top: 4px;
}

main .main-languages .languages-centered{
    display: flex;
    justify-content: center;
}

.languages-centered .centered img{
    width: 210px;
}

.languages-left .uno, .languages-left .tres{
    margin-left: 50px;
}

.languages-left .dos{
    margin-left: 20px;
}


.languages-right .uno, .languages-right .tres{
    margin-right: 50px;
}

.languages-right .tres{
    margin-right: 20px;
}

main .main-languages .languages-bottom{
    display: flex;
    justify-content: center;

}

.main-languages .Portugues{
    margin-right: 45px;
}

.main-languages .Polski{
    margin-left: 45px;
}

main .main-search{
    width: 530px;
    margin: 0 auto;
}

main .input-container{
    margin-top: 27px;
    width: 525px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #a2a9b1;
    display: flex;
}

main .input-container input{
    width: 575px;
    height: 42px;
    border: none;
    outline: none;
}

main .input-container select{
    border: none;
    cursor: pointer;
    width: 42px;
    margin: 10px 10px;
    color: #a2a9b1;
}

main .input-container select:hover{
    background-color: #f2f2f2;
}

main .main-search .input-container .button-search{
    background-image: url('https://tpng.net/download/600x600_87-872187_lupa-png.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    width: 80px;
    height: 42px;
    background-color: #3366CC;
    cursor: pointer;
}

main .main-read{
    margin-top: 40px;
}

main .main-read .button-read select{
    height: 40px;
    width: 330px;
    padding: 10px;
    color: #3366CC;
}

.main-read .button-read select option{
    text-align: center;
  
}

hr{
    margin-top: 20px;
}

footer{
    display: flex;
    padding: 30px;
    justify-content: space-around;
}

footer .footer-left{
    width: 300px;
    font-size: 15px;
}

footer .footer-left .download{
    margin-top: 40px;
    background-color: #f8f9fa;
    width: 300px;
}



footer .footer-left .footer-apps{
    display: flex;
    width: 80px;
    margin-left: 50px;
}

footer .footer-left .footer-apps img{
    width: 80px;
    margin-top: 20px;
}

footer .footer-right img{
    width: 40px;
}

footer .footer-right .row-1, .row-2, .row-3, .row-4{
    display: flex;
}




footer .footer-right  div{
    width: 900px;
}

